@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: #eaf4f2;
}

.page-title{
    font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}

.page-title:hover{
    color: orange;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-image: url(../image/header.png);
}

nav{
    padding: 24px;
    display: flex;
}

nav a{
    font-weight: 700;
	padding: 8px 15px;
	letter-spacing: 1px;
    color: white;
}

header>a>h1{
    color: white;
}

.active,
nav a:hover {
	color: orange
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    
}

.hero-text{
    text-align: left;
    width: 100vh;
}

.hero-image img {
    max-width:auto;
    height: auto;
    border-radius: 10px;
}

.hero-text h1 {
    font-size: 40px;
    color: #df4e11; 
    
}

.hero-text p {
    font-size: 1.2em;
    color: #3a6150;
    padding-top: 30px;
    padding-bottom: 100px;
    font-size: 30px;
}

.about-link{
    background-color: #ca5523;
    color: white;
    border: none;
    padding: 30px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.about-link:hover{
    background-color:  #ff4d00;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fc5108; 
    background-image: url(../image/header.png);
    padding-top: 10px;
    padding-bottom: 20px;
}

.family-image img{
    max-width: auto;
    height: 500px;
    
}

.About-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.about-text{
    text-align: left;
    width: 100vh
}
    
p{
    padding: 20px;
    font-size: 20px;
    color: #3a6150;
}

.family-image{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.fam{
    padding-top: 40PX;
    color:#fc5108;
    font-size: 40px;
    padding-left: 180px;
    font-family: "Eater", serif;
    font-weight: 400;
    font-style: normal;

}

img{
    border-radius: 10px;
}

.Achievements-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.Achievements-text{
    text-align: left;
    width: 100vh
}

.trophy-image img{
    max-width: auto;
    height: 700px;
}

.trophy-image{
    display: flex;
    flex-direction: column;
}

.win{
    color:#fc5108;
    font-size: 40px;
    padding-left: 50px;
    font-family: "Eater", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
}

.Education-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.Education-text{
    text-align: left;
    width: 100vh
}

.library-image img{
    max-width: 800px;
    height: 700px;
}

.library-image{
    display: flex;
    flex-direction: column;
}

.read{
    color:#fc5108;
    font-size: 40px;
    padding-left: 220px;
    font-family: "Eater", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;
}

footer {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #f4a261;
}

#contacts {
    max-width: 400px;
    margin: auto;
}


.thanks {
    font-weight: bold;
    margin-top: 10px;
    font-size: 40px;
    color: #f4a261;
}
